# Секреты и локальная конфигурация
.env
.env.local
*.env.local

# Виртуальное окружение
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo
